@using WebLibrary.Models.Services.ViewModelsClasses
@model IEnumerable<AuthorViewModel>

@using (Html.BeginForm())
{
    @if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>Author Name</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No authors were found!</p>
    }
}