@model int
@if (Model == 1)
{
	<p>Both Book and User weren't found</p>
}
else if (Model == 2)
{
	<p>Book wasn't found</p>
}
else if (Model == 3)
{
	<p>User wasn't found</p>
}
else if (Model == 4)
{
	<p>Userhas successfully taken a copy of Book</p>
}
else if (Model == 5)
{
	<p>There aren't any available copies of the Book</p>
}